body {
  background-color: lightblue;
  text-align: center;
  margin: 0 auto;
  font-family: Arial;
}
#title,
#url,
#type {
  width: 350px;
  height: 20px;
  margin-bottom: 10px;
  border-color: black;
  border-width: 1px;
  border-radius: 0px;
  background-color: white;
  font-size: 17px;
}
#enter {
  width: 80px;
  height: 30px;
  background-color: lightgreen;
  margin-bottom: 10px;
  border-radius: 0px;
  border-color: black;
  font-size: 18px;
}
#display {
  background-color: white;
  width: 1000px;
  height: 600px;
}
#bar {
  position: fixed;
  top: 1;

  background-color: blue;
  width: 100vw;
  height: 40px;
  padding: 10px;
  color: white;
  font-size: 30px;
}
.bottonBar {
  text-align:left;
  margin:0 auto;
  background-color: white;
  width: 1000px;
  height: 40px;
}
#open{
  margin-left:10px;
  margin-top:7px;
  width:150px;
  height:25px;
  background-color:blue;
  color:white;
  border-radius:0px;
  border-width:0px;
}
#open:active{
  background-color:deepskyblue;
}
